In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from geopy.geocoders import Nominatim
from math import radians, cos, sin, asin, sqrt
from numpy import cos, sin, arcsin, sqrt
from ast import literal_eval
from tqdm import tqdm
import requests
import json
import networkx as nx
import osmnx as ox
import requests
from geopy import Point
from geopy.distance import geodesic
import numpy as np

In [2]:
df_building = pd.read_csv('BangkokBuildingsFinal.csv')

In [3]:
df_building.rename(columns={'name' : 'Building'}, inplace = True)

In [4]:
df_civic = pd.read_csv('CivicDistance.csv')
df_government = pd.read_csv('GovernmentDistance.csv')
df_public = pd.read_csv('PublicDistance.csv')
df_school = pd.read_csv('SchoolDistance.csv')
df_sports = pd.read_csv('SportsDistance.csv')
df_transport = pd.read_csv('TransportDistance.csv')

In [5]:
df_civic = df_civic.groupby('InputID').agg(lambda x: list(x))
df_government = df_government.groupby('InputID').agg(lambda x: list(x))
df_public = df_public.groupby('InputID').agg(lambda x: list(x))
df_school = df_school.groupby('InputID').agg(lambda x: list(x))
df_sports = df_sports.groupby('InputID').agg(lambda x: list(x))
df_transport = df_transport.groupby('InputID').agg(lambda x: list(x))

In [6]:
df_civic = df_civic.reset_index()
df_government = df_government.reset_index()
df_public = df_public.reset_index()
df_school = df_school.reset_index()
df_sports = df_sports.reset_index()
df_transport = df_transport.reset_index()

In [7]:
df_civic.drop(columns=['TargetID'], inplace = True)
df_government.drop(columns=['TargetID'], inplace = True)
df_public.drop(columns=['TargetID'], inplace = True)
df_school.drop(columns=['TargetID'], inplace = True)
df_sports.drop(columns=['TargetID'], inplace = True)
df_transport.drop(columns=['TargetID'], inplace = True)

In [ ]:
df_civic
df_fire
df_government
df_hospital
df_public
df_school
df_sports
df_supermarket
df_toilet
df_transport

In [8]:
df_civic.rename(columns={'InputID':'Building', 'Distance':'Civic'}, inplace = True)
df_government.rename(columns={'InputID':'Building', 'Distance':'Government'}, inplace = True)
df_public.rename(columns={'InputID':'Building', 'Distance':'Public'}, inplace = True)
df_school.rename(columns={'InputID':'Building', 'Distance':'School'}, inplace = True)
df_sports.rename(columns={'InputID':'Building', 'Distance':'Sports'}, inplace = True)
df_transport.rename(columns={'InputID':'Building', 'Distance':'Transport'}, inplace = True)

In [9]:
df = df_building.merge(df_civic, on='Building', how = 'inner')
df = df.merge(df_government, on='Building', how = 'inner')
df = df.merge(df_public, on='Building', how = 'inner')
df = df.merge(df_school, on='Building', how = 'inner')
df = df.merge(df_sports, on='Building', how = 'inner')
df = df.merge(df_transport, on='Building', how = 'inner')

In [ ]:
df

In [10]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'name_th', 'osm_id', 'osm_type', 'lon', 'lat', 'source_2',
       'id', 'name_2', 'Civic', 'Government', 'Public', 'School', 'Sports',
       'Transport'],
      dtype='object')

In [11]:
df[['Civic', 'Government', 'Public', 'School', 'Sports', 'Transport']] = df[['Civic', 'Government', 'Public', 'School', 'Sports', 'Transport']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [12]:
#df[['Civic', 'Government']] = df[['Civic', 'Government']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [13]:
distance_map = {
    'Civic': 1.5,
    'Fire': 1.0,
    'Government': 10.0,
    'Hospital': 10.0,
    'Public': 2.0,
    'School': 1.0,
    'Sports': 1.5,
    'Supermarket': 1.0,
    'Toilet': 0.1,
    'Transport': 2.0,
}

In [15]:
%%time
for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[facility].apply(lambda lst: [d for d in lst if d <= max_dist])
    except:
        pass

CPU times: total: 406 ms
Wall time: 403 ms

In [18]:
%%time
for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[f'{facility}_nearby'].apply(lambda lst: [round(max_dist - d, 2) for d in lst])
    except:
        pass

CPU times: total: 2.97 s
Wall time: 3.07 s

In [20]:
%%time
for facility in distance_map:
    try:
        df[f'{facility}_Score'] = df[f'{facility}_nearby'].apply(sum)
    except:
        pass

CPU times: total: 93.8 ms
Wall time: 84.9 ms

In [21]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Public_nearby,School_nearby,Sports_nearby,Transport_nearby,Civic_Score,Government_Score,Public_Score,School_Score,Sports_Score,Transport_Score
0,BangkokBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1.73, 1.48, 1.73, 1.48, 1.49]","[0.77, 0.79, 0.78, 0.78, 0.77]","[0.6, 0.6, 0.6, 0.51, 0.59]","[1.67, 1.58, 1.69, 1.71, 1.9]",2.74,37.24,7.91,3.89,2.90,8.55
1,BangkokBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[1.64, 1.87, 1.64, 1.86, 1.87]","[0.72, 0.72, 0.72, 0.72, 0.72]","[1.04, 0.33, 0.21, 0.21, 1.03]","[1.69, 1.76, 1.8, 1.79, 1.71]",3.69,36.33,8.88,3.60,2.82,8.75
2,BangkokBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.33, 0.39, 0.33, 0.38, 0.39]","[0.28, 0.28, 0.26, 0.26, 0.28]","[0.63, 0.11, 0.56, 0.55, 0.55]","[0.77, 0.79, 0.7, 1.17, 0.85]",5.01,33.87,1.82,1.36,2.40,4.28
3,BangkokBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.34, 0.39, 0.33, 0.38, 0.39]","[0.28, 0.28, 0.26, 0.26, 0.28]","[0.64, 0.11, 0.56, 0.55, 0.55]","[0.77, 0.79, 0.7, 1.17, 0.86]",5.00,33.87,1.83,1.36,2.41,4.29
4,BangkokBuilding4,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.34, 0.4, 0.33, 0.39, 0.4]","[0.28, 0.28, 0.26, 0.26, 0.28]","[0.63, 0.11, 0.55, 0.55, 0.55]","[0.77, 0.79, 0.7, 1.17, 0.85]",5.00,33.87,1.86,1.36,2.39,4.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31071,BangkokBuilding32767,NaN,house,2,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.26, 0.18, 0.26, 0.19, 0.18]","[0.95, 0.94, 0.94, 0.95, 0.75]",[0.24],"[0.68, 0.64, 0.58, 0.9, 0.7]",1.49,31.18,1.07,4.53,0.24,3.50
31072,BangkokBuilding32768,NaN,house,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.26, 0.18, 0.27, 0.19, 0.18]","[0.95, 0.94, 0.94, 0.95, 0.75]",[0.25],"[0.68, 0.64, 0.59, 0.9, 0.71]",1.48,31.18,1.08,4.53,0.25,3.52
31073,BangkokBuilding32769,NaN,house,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.26, 0.18, 0.27, 0.19, 0.18]","[0.95, 0.94, 0.94, 0.95, 0.75]",[0.25],"[0.68, 0.64, 0.59, 0.91, 0.71]",1.48,31.20,1.08,4.53,0.25,3.53
31074,BangkokBuilding32770,NaN,house,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.26, 0.18, 0.27, 0.19, 0.18]","[0.95, 0.95, 0.94, 0.95, 0.75]",[0.25],"[0.69, 0.64, 0.59, 0.91, 0.71]",1.48,31.19,1.08,4.54,0.25,3.54
31075,BangkokBuilding32771,NaN,house,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.27, 0.19, 0.27, 0.2, 0.19]","[0.95, 0.95, 0.95, 0.95, 0.75]",[0.25],"[0.69, 0.65, 0.59, 0.91, 0.71]",1.48,31.22,1.12,4.55,0.25,3.55

In [35]:
df.columns[36]

'Transport_Score'

In [ ]:
%%time
for i in range(31, 37):
    col = df.columns[i]
    mx = (df[col]).max()
    mn = (df[col]).min()
    for j in df.index:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10

In [ ]:
df

In [ ]:
%%time
columns = ['Civic', 'Government', 'Public', 'School', 'Sports', 'Transport']

for col in columns:
    df[f'{col}_1km'] = None
    df[f'{col}_5km'] = None
    df[f'{col}_10km'] = None

for i in df.index:
    for col in columns:
        df[f'{col}_1km'].iloc[i] = [number for number in df[col].iloc[i] if number <= 1]
        df[f'{col}_5km'].iloc[i] = [number for number in df[col].iloc[i] if number <= 5]
        df[f'{col}_10km'].iloc[i] = [number for number in df[col].iloc[i] if number <= 10]

In [ ]:
%%time
columns = ['Civic', 'Government', 'Public', 'School', 'Sports', 'Transport']

for i in df.index:
    for col in columns:
        df[f'{col}_1km'].iloc[i] = [round(1 - x, 2) for x in df[f'{col}_1km'].iloc[i]]
        df[f'{col}_5km'].iloc[i] = [round(5 - x, 2) for x in df[f'{col}_5km'].iloc[i]]
        df[f'{col}_10km'].iloc[i] = [round(10 - x, 2) for x in df[f'{col}_10km'].iloc[i]]

In [ ]:
%%time
# Initialize score columns
columns = ['Civic', 'Government', 'Public', 'School', 'Sports', 'Transport']

for col in columns:
    df[f'{col}_1km_Score'] = None
    df[f'{col}_5km_Score'] = None
    df[f'{col}_10km_Score'] = None

# Calculate scores
for i in df.index:
    for col in columns:
        df[f'{col}_1km_Score'].iloc[i] = sum(df[f'{col}_1km'][i])
        df[f'{col}_5km_Score'].iloc[i] = sum(df[f'{col}_5km'][i])
        df[f'{col}_10km_Score'].iloc[i] = sum(df[f'{col}_10km'][i])

In [ ]:
df.columns[43]

In [ ]:
%%time
for i in range(43, 61):
    col = df.columns[i]
    mx = (df[col]).max()
    mn = (df[col]).min()
    for j in df.index:
        data = df[col].iloc[j]
        scaled = (data - mn)/(mx-mn)
        df[col].iloc[j] = scaled*10

In [ ]:
%%time
for i in range(43, 61):
    try:
        col = df.columns[i]
        #print(col)
        df[col] = df[col].astype(float)
        df[col] = round(df[col], 2)
    except:
        print('Error')

In [ ]:
df.columns

In [ ]:
df = df[['Building','lon', 'lat', 'Civic_1km_Score', 'Civic_5km_Score',
       'Civic_10km_Score', 'Government_1km_Score', 'Government_5km_Score',
       'Government_10km_Score', 'Public_1km_Score', 'Public_5km_Score',
       'Public_10km_Score', 'School_1km_Score', 'School_5km_Score',
       'School_10km_Score', 'Sports_1km_Score', 'Sports_5km_Score',
       'Sports_10km_Score', 'Transport_1km_Score', 'Transport_5km_Score',
       'Transport_10km_Score']]

In [ ]:
df.to_csv('BangkokScoreRAW.csv', index = False)

In [ ]:
df