In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from geopy.geocoders import Nominatim
from math import radians, cos, sin, asin, sqrt
from numpy import cos, sin, arcsin, sqrt
from ast import literal_eval
from tqdm import tqdm
import requests
import json
import networkx as nx
import osmnx as ox
import requests
from geopy import Point
from geopy.distance import geodesic
import numpy as np

In [2]:
df_building = pd.read_csv('LagosBuildingsFinal.csv')

In [3]:
df_building.rename(columns={'name' : 'Building'}, inplace = True)

In [4]:
df_civic = pd.read_csv('CivicDistance.csv')
df_hospital = pd.read_csv('HospitalDistance.csv')
df_school = pd.read_csv('SchoolDistance.csv')
df_sports = pd.read_csv('SportsDistance.csv')
df_transport = pd.read_csv('TransportDistance.csv')

In [5]:
df_civic = df_civic.groupby('InputID').agg(lambda x: list(x))
df_hospital = df_hospital.groupby('InputID').agg(lambda x: list(x))
df_school = df_school.groupby('InputID').agg(lambda x: list(x))
df_sports = df_sports.groupby('InputID').agg(lambda x: list(x))
df_transport = df_transport.groupby('InputID').agg(lambda x: list(x))

In [6]:
df_civic = df_civic.reset_index()
df_hospital = df_hospital.reset_index()
df_school = df_school.reset_index()
df_sports = df_sports.reset_index()
df_transport = df_transport.reset_index()

In [7]:
df_civic.drop(columns=['TargetID'], inplace = True)
df_hospital.drop(columns=['TargetID'], inplace = True)
df_school.drop(columns=['TargetID'], inplace = True)
df_sports.drop(columns=['TargetID'], inplace = True)
df_transport.drop(columns=['TargetID'], inplace = True)

In [ ]:
df_civic
df_fire
df_government
df_hospital
df_public
df_school
df_sports
df_supermarket
df_toilet
df_transport

In [8]:
df_civic.rename(columns={'InputID':'Building', 'Distance':'Civic'}, inplace = True)
df_hospital.rename(columns={'InputID':'Building', 'Distance':'Hospital'}, inplace = True)
df_school.rename(columns={'InputID':'Building', 'Distance':'School'}, inplace = True)
df_sports.rename(columns={'InputID':'Building', 'Distance':'Sports'}, inplace = True)
df_transport.rename(columns={'InputID':'Building', 'Distance':'Transport'}, inplace = True)

In [9]:
df = df_building.merge(df_civic, on='Building', how = 'inner')
df = df.merge(df_hospital, on='Building', how = 'inner')
df = df.merge(df_school, on='Building', how = 'inner')
df = df.merge(df_sports, on='Building', how = 'inner')
df = df.merge(df_transport, on='Building', how = 'inner')

In [15]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,validTo,SD_EN,SD_PCODE,lon,lat,Civic,Hospital,School,Sports,Transport
0,LagosBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lagos Central,NG02502,3.392981,6.494429,"[4231.80052367003, 1310.48576379685]","[4352.30049032835, 1775.43940433035]","[2723.31702133241, 3411.59096723732, 1165.6294...","[2487.56060204285, 5312.6346054186, 3426.45854...","[2952.5392772818, 3468.87254258582, 1790.98392..."
1,LagosBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lagos Central,NG02502,3.395323,6.463854,"[931.941374450445, 3300.13744209425]","[1026.63119341746, 2766.99332548718]","[6064.16797933063, 868.988763642482, 3581.2388...","[1993.43035285905, 2087.9222229244, 2489.62367...","[1564.8309326702, 3171.19412588085, 2655.20659..."
2,LagosBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lagos Central,NG02502,3.394525,6.463953,"[991.668336351467, 3251.30778238396]","[1011.86673289923, 2707.24222533725]","[6057.32511690234, 780.50616592129, 3537.05446...","[2040.44899887017, 2127.18645640626, 2526.7406...","[1480.57036127442, 3085.32874950173, 2595.3831..."
3,LagosBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lagos Central,NG02502,3.394541,6.463525,"[953.340026968409, 3294.69755091532]","[966.564075905761, 2747.26598954023]","[6104.40683680541, 784.467396876971, 3581.4937...","[1997.31538247689, 2082.32599813262, 2481.4486...","[1503.55410297548, 3105.15545138618, 2635.3970..."
4,LagosBuilding4,NaN,yes,NaN,NaN,NaN,5.0,Military Street,Lagos,NaN,...,NaN,Lagos Central,NG02502,3.403980,6.444999,"[1379.70175634318, 5593.61716749268]","[1706.95742592192, 5037.57921220047]","[8176.97540911381, 2790.33098643628, 5875.4074...","[302.804183084572, 325.585255652306, 340.10235...","[3633.138832939, 5088.13967559958, 4925.856248..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41055,LagosBuilding41194,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lagos Central,NG02502,3.390144,6.498534,"[4740.63556001533, 1282.65788892787]","[4811.50086089061, 1906.83742657822]","[2366.01206958751, 3822.13984843769, 1009.6636...","[1993.8847772262, 5824.27981181775, 2875.15127...","[3280.54057215518, 3556.65791670566, 1953.1836..."
41056,LagosBuilding41195,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lagos Central,NG02502,3.389527,6.498424,"[4744.8839576476, 1225.8765525044]","[4803.23347178877, 1859.90770169187]","[2401.39457796427, 3805.3509946113, 946.209094...","[2001.5258018829, 5829.0115576675, 2843.978233...","[3251.88634718225, 3502.459182328, 1909.019116..."
41057,LagosBuilding41196,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lagos Central,NG02502,3.389545,6.498367,"[4738.28935830216, 1222.72379390761]","[4796.8141368561, 1855.58660141377]","[2406.55925480203, 3799.17269963632, 944.27411...","[2007.92162134815, 5822.4149620113, 2850.22500...","[3246.22997769682, 3498.99673751829, 1904.4373..."
41058,LagosBuilding41197,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lagos Central,NG02502,3.389692,6.498227,"[4719.27020281056, 1223.13518939983]","[4780.27413881012, 1851.08817078562]","[2415.28193711034, 3784.6514245155, 949.222317...","[2024.32864726287, 5803.32540333745, 2872.3650...","[3235.05596743121, 3498.02104203713, 1898.7619..."
41059,LagosBuilding41198,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Lagos Central,NG02502,3.389765,6.498212,"[4715.81506045501, 1227.85727188919]","[4778.23993076976, 1854.18270351978]","[2413.8654624878, 3783.63792812293, 955.237839...","[2026.35899066758, 5799.82288505025, 2878.4369...","[3235.5557751966, 3502.2594279586]"

In [16]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'osm_id', 'osm_type', 'Shape_Leng', 'Shape_Area', 'ADM2_EN',
       'ADM2_PCODE', 'ADM2_REF', 'ADM2ALT1EN', 'ADM2ALT2EN', 'ADM1_EN',
       'ADM1_PCODE', 'ADM0_EN', 'ADM0_PCODE', 'date', 'validOn', 'validTo',
       'SD_EN', 'SD_PCODE', 'lon', 'lat', 'Civic', 'Hospital', 'School',
       'Sports', 'Transport'],
      dtype='object')

In [10]:
df[['Civic', 'Hospital', 'School', 'Sports', 'Transport']] = df[['Civic', 'Hospital', 'School', 'Sports', 'Transport']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [11]:
#df[['Civic', 'Government']] = df[['Civic', 'Government']].applymap(lambda x: np.divide(x, 10000) if isinstance(x, list) else x)

In [12]:
distance_map = {
    'Civic': 1.5,
    'Fire': 1.0,
    'Government': 10.0,
    'Hospital': 10.0,
    'Public': 2.0,
    'School': 1.0,
    'Sports': 1.5,
    'Supermarket': 1.0,
    'Toilet': 0.1,
    'Transport': 2.0,
}
for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[facility].apply(lambda lst: [d for d in lst if d <= max_dist])
    except:
        pass


for facility, max_dist in distance_map.items():
    try:
        df[f'{facility}_nearby'] = df[f'{facility}_nearby'].apply(lambda lst: [round(max_dist - d, 2) for d in lst])
    except:
        pass


for facility in distance_map:
    try:
        df[f'{facility}_Score'] = df[f'{facility}_nearby'].apply(sum)
    except:
        pass

from sklearn.preprocessing import MinMaxScaler

# Select score columns
score_cols = [col for col in df.columns if col.endswith('_Score')]

# Initialize scaler with feature range 0-10
scaler = MinMaxScaler(feature_range=(0, 10))

# Fit and transform, then round to 2 decimals
df[score_cols] = pd.DataFrame(
    scaler.fit_transform(df[score_cols]),
    columns=score_cols,
    index=df.index
).round(2)

In [13]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'osm_id', 'osm_type', 'Shape_Leng', 'Shape_Area', 'ADM2_EN',
       'ADM2_PCODE', 'ADM2_REF', 'ADM2ALT1EN', 'ADM2ALT2EN', 'ADM1_EN',
       'ADM1_PCODE', 'ADM0_EN', 'ADM0_PCODE', 'date', 'validOn', 'validTo',
       'SD_EN', 'SD_PCODE', 'lon', 'lat', 'Civic', 'Hospital', 'School',
       'Sports', 'Transport', 'Civic_nearby', 'Hospital_nearby',
       'School_nearby', 'Sports_nearby', 'Transport_nearby', 'Civic_Score',
       'Hospital_Score', 'School_Score', 'Sports_Score', 'Transport_Score'],
      dtype='object')

In [14]:
df = df[['Building', 'lon', 'lat', 'Civic_Score',
       'Hospital_Score', 'School_Score', 'Sports_Score', 'Transport_Score']]

In [15]:
df.to_csv('LagosScoreRAW1.csv', index = False)

In [19]:
%%time
columns = ['Civic', 'Hospital', 'School', 'Sports', 'Transport']

for col in columns:
    df[f'{col}_1km'] = None
    df[f'{col}_5km'] = None
    df[f'{col}_10km'] = None

CPU times: total: 0 ns
Wall time: 18.7 ms

In [20]:
%%time
# Define columns
columns = ['Civic', 'Hospital', 'School', 'Sports', 'Transport']

# Define a function to filter numbers based on distance
def filter_distances(row, columns):
    for col in columns:
        row[f'{col}_1km'] = [number for number in row[col] if number <= 1]
        row[f'{col}_5km'] = [number for number in row[col] if number <= 5]
        row[f'{col}_10km'] = [number for number in row[col] if number <= 10]
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: filter_distances(row, columns), axis=1)

CPU times: total: 33.6 s
Wall time: 35.8 s

In [21]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Hospital_10km,School_1km,School_5km,School_10km,Sports_1km,Sports_5km,Sports_10km,Transport_1km,Transport_5km,Transport_10km
0,LagosBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.435230049032835, 0.177543940433035]","[0.27233170213324104, 0.341159096723732, 0.116...","[0.27233170213324104, 0.341159096723732, 0.116...","[0.27233170213324104, 0.341159096723732, 0.116...","[0.248756060204285, 0.53126346054186, 0.342645...","[0.248756060204285, 0.53126346054186, 0.342645...","[0.248756060204285, 0.53126346054186, 0.342645...","[0.29525392772818, 0.346887254258582, 0.179098...","[0.29525392772818, 0.346887254258582, 0.179098...","[0.29525392772818, 0.346887254258582, 0.179098..."
1,LagosBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.102663119341746, 0.276699332548718]","[0.606416797933063, 0.0868988763642482, 0.3581...","[0.606416797933063, 0.0868988763642482, 0.3581...","[0.606416797933063, 0.0868988763642482, 0.3581...","[0.199343035285905, 0.20879222229244002, 0.248...","[0.199343035285905, 0.20879222229244002, 0.248...","[0.199343035285905, 0.20879222229244002, 0.248...","[0.15648309326701998, 0.317119412588085, 0.265...","[0.15648309326701998, 0.317119412588085, 0.265...","[0.15648309326701998, 0.317119412588085, 0.265..."
2,LagosBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.101186673289923, 0.270724222533725]","[0.605732511690234, 0.07805061659212899, 0.353...","[0.605732511690234, 0.07805061659212899, 0.353...","[0.605732511690234, 0.07805061659212899, 0.353...","[0.20404489988701702, 0.21271864564062598, 0.2...","[0.20404489988701702, 0.21271864564062598, 0.2...","[0.20404489988701702, 0.21271864564062598, 0.2...","[0.148057036127442, 0.308532874950173, 0.25953...","[0.148057036127442, 0.308532874950173, 0.25953...","[0.148057036127442, 0.308532874950173, 0.25953..."
3,LagosBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.0966564075905761, 0.27472659895402296]","[0.610440683680541, 0.0784467396876971, 0.3581...","[0.610440683680541, 0.0784467396876971, 0.3581...","[0.610440683680541, 0.0784467396876971, 0.3581...","[0.199731538247689, 0.208232599813262, 0.24814...","[0.199731538247689, 0.208232599813262, 0.24814...","[0.199731538247689, 0.208232599813262, 0.24814...","[0.150355410297548, 0.310515545138618, 0.26353...","[0.150355410297548, 0.310515545138618, 0.26353...","[0.150355410297548, 0.310515545138618, 0.26353..."
4,LagosBuilding4,NaN,yes,NaN,NaN,NaN,5.0,Military Street,Lagos,NaN,...,"[0.170695742592192, 0.5037579212200469]","[0.817697540911381, 0.279033098643628, 0.58754...","[0.817697540911381, 0.279033098643628, 0.58754...","[0.817697540911381, 0.279033098643628, 0.58754...","[0.0302804183084572, 0.032558525565230596, 0.0...","[0.0302804183084572, 0.032558525565230596, 0.0...","[0.0302804183084572, 0.032558525565230596, 0.0...","[0.3633138832939, 0.508813967559958, 0.4925856...","[0.3633138832939, 0.508813967559958, 0.4925856...","[0.3633138832939, 0.508813967559958, 0.4925856..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41055,LagosBuilding41194,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.481150086089061, 0.190683742657822]","[0.23660120695875098, 0.382213984843769, 0.100...","[0.23660120695875098, 0.382213984843769, 0.100...","[0.23660120695875098, 0.382213984843769, 0.100...","[0.19938847772262, 0.582427981181775, 0.287515...","[0.19938847772262, 0.582427981181775, 0.287515...","[0.19938847772262, 0.582427981181775, 0.287515...","[0.328054057215518, 0.355665791670566, 0.19531...","[0.328054057215518, 0.355665791670566, 0.19531...","[0.328054057215518, 0.355665791670566, 0.19531..."
41056,LagosBuilding41195,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.480323347178877, 0.185990770169187]","[0.240139457796427, 0.38053509946113, 0.094620...","[0.240139457796427, 0.38053509946113, 0.094620...","[0.240139457796427, 0.38053509946113, 0.094620...","[0.20015258018829, 0.58290115576675, 0.2843978...","[0.20015258018829, 0.58290115576675, 0.2843978...","[0.20015258018829, 0.58290115576675, 0.2843978...","[0.325188634718225, 0.35024591823280005, 0.190...","[0.325188634718225, 0.35024591823280005, 0.190...","[0.325188634718225, 0.35024591823280005, 0.190..."
41057,LagosBuilding41196,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.47968141368561, 0.185558660141377]","[0.240655925480203, 0.379917269963632, 0.09442...","[0.240655925480203, 0.379917269963632, 0.09442...","[0.240655925480203, 0.379917269963632, 0.09442...","[0.200792162134815, 0.5822414962011301, 0.2850...","[0.200792162134815, 0.5822414962011301, 0.2850...","[0.200792162134815, 0.5822414962011301, 0.2850...","[0.32462299776968195, 0.349899673751829, 0.190...","[0.32462299776968195, 0.349899673751829, 0.190...","[0.32462299776968195, 0.349899673751829, 0.190..."
41058,LagosBuilding41197,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.47802741388101205, 0.185108817078562]","[0.241528193711034, 0.37846514245155, 0.094922...","[0.241528193711034, 0.37846514245155, 0.094922...","[0.241528193711034, 0.37846514245155, 0.094922...","[0.202432864726287, 0.5803325403337449, 0.2872...","[0.202432864726287, 0.5803325403337449, 0.2872...","[0.202432864726287, 0.5803325403337449, 0.2872...","[0.32350559674312096, 0.349802104203713, 0.189...","[0.32350559674312096, 0.349802104203713, 0.189...","[0.32350559674312096, 0.349802104203713, 0.189..."
41059,LagosBuilding41198,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[0.477823993076976, 0.185418270351978]","[0.24138654624878, 0.378363792812293, 0.095523...","[0.24138654624878, 0.378363792812293, 0.095523...","[0.24138654624878, 0.378363792812293, 0.095523...","[0.202635899066758, 0.579982288505025, 0.28784...","[0.202635899066758, 0.579982288505025, 0.28784...","[0.202635899066758, 0.579982288505025, 0.28784...","[0.32355557751965996, 0.35022594279586]","[0.32355557751965996, 0.35022594279586]","[0.32355557751965996, 0.35022594279586]"

In [22]:
%%time
# Define columns
columns = ['Civic', 'Hospital', 'School', 'Sports', 'Transport']

# Define a function to apply element-wise
def transform_list(lst, val):
    return [round(val - x, 2) for x in lst]

# Use applymap to vectorize calculations
for col in columns:
    df[f'{col}_1km'] = df[f'{col}_1km'].map(lambda x: transform_list(x, 1))
    df[f'{col}_5km'] = df[f'{col}_5km'].map(lambda x: transform_list(x, 5))
    df[f'{col}_10km'] = df[f'{col}_10km'].map(lambda x: transform_list(x, 10))

CPU times: total: 23.7 s
Wall time: 24.6 s

In [23]:
%%time
# Define columns
columns = ['Civic', 'Hospital', 'School', 'Sports', 'Transport']

# Initialize score columns
for col in columns:
    df[f'{col}_1km_Score'] = None
    df[f'{col}_5km_Score'] = None
    df[f'{col}_10km_Score'] = None

# Define a function to calculate scores
def calculate_scores(row, columns):
    for col in columns:
        row[f'{col}_1km_Score'] = sum(row[f'{col}_1km'])
        row[f'{col}_5km_Score'] = sum(row[f'{col}_5km'])
        row[f'{col}_10km_Score'] = sum(row[f'{col}_10km'])
    return row

# Apply the function across the dataframe
df = df.apply(lambda row: calculate_scores(row, columns), axis=1)

CPU times: total: 31.2 s
Wall time: 32.6 s

In [24]:
df

,Building,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,Hospital_10km_Score,School_1km_Score,School_5km_Score,School_10km_Score,Sports_1km_Score,Sports_5km_Score,Sports_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,LagosBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.38,2.27,14.27,29.27,3.01,23.01,48.01,2.94,18.94,38.94
1,LagosBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.62,1.94,13.94,28.94,3.86,23.86,48.86,2.77,18.77,38.77
2,LagosBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.63,1.96,13.96,28.96,3.85,23.85,48.85,2.80,18.80,38.80
3,LagosBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.63,1.95,13.95,28.95,3.86,23.86,48.86,2.80,18.80,38.80
4,LagosBuilding4,NaN,yes,NaN,NaN,NaN,5.0,Military Street,Lagos,NaN,...,19.33,1.31,13.31,28.31,4.84,24.84,49.84,1.93,17.93,37.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41055,LagosBuilding41194,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.33,2.28,14.28,29.28,3.06,23.06,48.06,2.93,18.93,38.93
41056,LagosBuilding41195,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.33,2.29,14.29,29.29,3.08,23.08,48.08,2.95,18.95,38.95
41057,LagosBuilding41196,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.33,2.29,14.29,29.29,3.07,23.07,48.07,2.96,18.96,38.96
41058,LagosBuilding41197,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.33,2.29,14.29,29.29,3.06,23.06,48.06,2.96,18.96,38.96
41059,LagosBuilding41198,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.33,2.28,14.28,29.28,3.06,23.06,48.06,1.33,9.33,19.33

In [33]:
df.columns[66]

IndexError: index 66 is out of bounds for axis 0 with size 66

In [34]:
# Vectorized scaling operation
df.iloc[:, 51:66] = df.iloc[:, 51:66].apply(lambda col: (col - col.min()) / (col.max() - col.min()) * 10, axis=0)

In [36]:
# Optimized approach
try:
    df.iloc[:, 51:66] = df.iloc[:, 51:66].astype(float).round(2)
except Exception as e:
    print('Error:', e)

In [38]:
df.columns

Index(['Building', 'name_en', 'building', 'building_l', 'building_m',
       'addr_full', 'addr_house', 'addr_stree', 'addr_city', 'office',
       'source', 'osm_id', 'osm_type', 'Shape_Leng', 'Shape_Area', 'ADM2_EN',
       'ADM2_PCODE', 'ADM2_REF', 'ADM2ALT1EN', 'ADM2ALT2EN', 'ADM1_EN',
       'ADM1_PCODE', 'ADM0_EN', 'ADM0_PCODE', 'date', 'validOn', 'validTo',
       'SD_EN', 'SD_PCODE', 'lon', 'lat', 'Civic', 'Hospital', 'School',
       'Sports', 'Transport', 'Civic_1km', 'Civic_5km', 'Civic_10km',
       'Hospital_1km', 'Hospital_5km', 'Hospital_10km', 'School_1km',
       'School_5km', 'School_10km', 'Sports_1km', 'Sports_5km', 'Sports_10km',
       'Transport_1km', 'Transport_5km', 'Transport_10km', 'Civic_1km_Score',
       'Civic_5km_Score', 'Civic_10km_Score', 'Hospital_1km_Score',
       'Hospital_5km_Score', 'Hospital_10km_Score', 'School_1km_Score',
       'School_5km_Score', 'School_10km_Score', 'Sports_1km_Score',
       'Sports_5km_Score', 'Sports_10km_Score', 'Transport_1km_Score',
       'Transport_5km_Score', 'Transport_10km_Score'],
      dtype='object')

In [39]:
df = df[['Building', 'lon', 'lat', 'Civic_1km_Score',
       'Civic_5km_Score', 'Civic_10km_Score', 'Hospital_1km_Score',
       'Hospital_5km_Score', 'Hospital_10km_Score', 'School_1km_Score',
       'School_5km_Score', 'School_10km_Score', 'Sports_1km_Score',
       'Sports_5km_Score', 'Sports_10km_Score', 'Transport_1km_Score',
       'Transport_5km_Score', 'Transport_10km_Score']]

In [40]:
df

,Building,lon,lat,Civic_1km_Score,Civic_5km_Score,Civic_10km_Score,Hospital_1km_Score,Hospital_5km_Score,Hospital_10km_Score,School_1km_Score,School_5km_Score,School_10km_Score,Sports_1km_Score,Sports_5km_Score,Sports_10km_Score,Transport_1km_Score,Transport_5km_Score,Transport_10km_Score
0,LagosBuilding0,3.392981,6.494429,8.33,8.33,8.33,6.96,6.96,6.96,9.31,9.31,9.31,2.34,2.34,2.34,7.49,9.47,9.73
1,LagosBuilding1,3.395323,6.463854,10.00,10.00,10.00,9.57,9.57,9.57,6.47,6.47,6.47,5.71,5.71,5.71,6.70,9.30,9.65
2,LagosBuilding2,3.394525,6.463953,9.87,9.87,9.87,9.67,9.67,9.67,6.64,6.64,6.64,5.67,5.67,5.67,6.84,9.33,9.66
3,LagosBuilding3,3.394541,6.463525,9.87,9.87,9.87,9.67,9.67,9.67,6.55,6.55,6.55,5.71,5.71,5.71,6.84,9.33,9.66
4,LagosBuilding4,3.403980,6.444999,6.41,6.41,6.41,6.41,6.41,6.41,1.03,1.03,1.03,9.60,9.60,9.60,2.79,8.47,9.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41055,LagosBuilding41194,3.390144,6.498534,7.69,7.69,7.69,6.41,6.41,6.41,9.40,9.40,9.40,2.54,2.54,2.54,7.44,9.46,9.73
41056,LagosBuilding41195,3.389527,6.498424,7.82,7.82,7.82,6.41,6.41,6.41,9.48,9.48,9.48,2.62,2.62,2.62,7.53,9.48,9.74
41057,LagosBuilding41196,3.389545,6.498367,7.82,7.82,7.82,6.41,6.41,6.41,9.48,9.48,9.48,2.58,2.58,2.58,7.58,9.49,9.74
41058,LagosBuilding41197,3.389692,6.498227,7.82,7.82,7.82,6.41,6.41,6.41,9.48,9.48,9.48,2.54,2.54,2.54,7.58,9.49,9.74
41059,LagosBuilding41198,3.389765,6.498212,7.82,7.82,7.82,6.41,6.41,6.41,9.40,9.40,9.40,2.54,2.54,2.54,0.00,0.00,0.00

In [41]:
df.to_csv('LagosScoreRAW.csv', index = False)