In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('SydneyBuildings.csv')

C:\Users\Apoorva\AppData\Local\Temp\ipykernel_18508\3236017265.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('SydneyBuildings.csv')

In [3]:
df['building'].value_counts()

house           129511
yes             115562
detached         12914
apartments       10128
garage            8790
                 ...
motel                1
corridor             1
garage;house         1
club_house           1
yes;retail           1
Name: building, Length: 142, dtype: int64

In [4]:
df

,name,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,osm_id,osm_type,fid,admin_leve,name_2,name_en_2,population,hasc,lon,lat
0,NaN,NaN,residential,NaN,NaN,NaN,102,Warners Avenue,NaN,NaN,...,789124467,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.276139,-33.887111
1,Warners Court,NaN,residential,NaN,NaN,NaN,100,Warners Avenue,NaN,NaN,...,789124468,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.275991,-33.886996
2,NaN,NaN,toilets,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1028285389,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.211334,-33.831097
3,El Nido,NaN,residential,NaN,NaN,NaN,7,Ramsgate Avenue,NaN,NaN,...,789124460,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.276469,-33.886943
4,NaN,NaN,residential,NaN,NaN,NaN,106,Warners Avenue,NaN,NaN,...,789124465,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.276354,-33.887269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315927,NaN,NaN,stable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17588950,relations,578,7,Sydney,NaN,4473131.0,NaN,151.023598,-33.825699
315928,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17582748,relations,578,7,Sydney,NaN,4473131.0,NaN,151.218831,-33.722851
315929,SEA LIFE Sydney Aquarium,SEA LIFE Sydney Aquarium,yes,1,NaN,NaN,1-5,King Street Offramp,NaN,NaN,...,18224617,relations,578,7,Sydney,NaN,4473131.0,NaN,151.202148,-33.869618
315930,SEA LIFE Sydney Aquarium,SEA LIFE Sydney Aquarium,yes,1,NaN,NaN,1-5,King Street Offramp,NaN,NaN,...,18224617,relations,2495,11,Sydney,NaN,22109.0,NaN,151.202148,-33.869618
315931,NaN,NaN,apartments,9,NaN,NaN,NaN,NaN,NaN,NaN,...,7929410,relations,578,7,Sydney,NaN,4473131.0,NaN,151.215730,-33.849217

In [5]:
df['name'] = df.index.map(lambda i: f'SydneyBuilding{i}')

In [6]:
df

,name,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,osm_id,osm_type,fid,admin_leve,name_2,name_en_2,population,hasc,lon,lat
0,SydneyBuilding0,NaN,residential,NaN,NaN,NaN,102,Warners Avenue,NaN,NaN,...,789124467,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.276139,-33.887111
1,SydneyBuilding1,NaN,residential,NaN,NaN,NaN,100,Warners Avenue,NaN,NaN,...,789124468,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.275991,-33.886996
2,SydneyBuilding2,NaN,toilets,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1028285389,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.211334,-33.831097
3,SydneyBuilding3,NaN,residential,NaN,NaN,NaN,7,Ramsgate Avenue,NaN,NaN,...,789124460,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.276469,-33.886943
4,SydneyBuilding4,NaN,residential,NaN,NaN,NaN,106,Warners Avenue,NaN,NaN,...,789124465,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.276354,-33.887269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315927,SydneyBuilding315927,NaN,stable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17588950,relations,578,7,Sydney,NaN,4473131.0,NaN,151.023598,-33.825699
315928,SydneyBuilding315928,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17582748,relations,578,7,Sydney,NaN,4473131.0,NaN,151.218831,-33.722851
315929,SydneyBuilding315929,SEA LIFE Sydney Aquarium,yes,1,NaN,NaN,1-5,King Street Offramp,NaN,NaN,...,18224617,relations,578,7,Sydney,NaN,4473131.0,NaN,151.202148,-33.869618
315930,SydneyBuilding315930,SEA LIFE Sydney Aquarium,yes,1,NaN,NaN,1-5,King Street Offramp,NaN,NaN,...,18224617,relations,2495,11,Sydney,NaN,22109.0,NaN,151.202148,-33.869618
315931,SydneyBuilding315931,NaN,apartments,9,NaN,NaN,NaN,NaN,NaN,NaN,...,7929410,relations,578,7,Sydney,NaN,4473131.0,NaN,151.215730,-33.849217

In [7]:
house = ['yes', 'apartments', 'residential', 'house', 'dormitory', 'bungalow', 'semidetached_house']
school = ['school', 'university', 'kindergarten', 'college']
public_transport = ['train_station', 'transportation']
hospital = ['hospital']

In [8]:
df_building = df[df['building'].isin(house)]
df_school = df[df['building'].isin(school)]
df_pt = df[df['building'].isin(public_transport)]
df_hospital = df[df['building'].isin(hospital)]

In [9]:
toilet = ['toilets']
civic = ['civic']
public = ['public']
fire = ['fire_station']
sports = ['grandstand', 'pavilion', 'riding_hall', 'sports_hall', 'sports_centre', 'stadium']
govt = ['government']
supermarket = ['supermarket']

df_toilet = df[df['building'].isin(toilet)]
df_civic = df[df['building'].isin(civic)]
df_public = df[df['building'].isin(public)]
df_fire = df[df['building'].isin(fire)]
df_sports = df[df['building'].isin(sports)]
df_govt = df[df['building'].isin(govt)]
df_supermarket = df[df['building'].isin(supermarket)]

df_toilet.to_csv('Toilet.csv', index = False)
df_civic.to_csv('Civic.csv', index = False)
df_public.to_csv('Public.csv', index = False)
df_fire.to_csv('Fire.csv', index = False)
df_sports.to_csv('Sports.csv', index = False)
df_govt.to_csv('Government.csv', index = False)
df_supermarket.to_csv('Supermarket.csv', index = False)

In [10]:
df_building.to_csv('SydneyBuildingsFinal.csv', index = False)
df_school.to_csv('School.csv', index = False)
df_pt.to_csv('Transport.csv', index = False)
df_hospital.to_csv('Hospital.csv', index = False)

In [12]:
df_public

,name,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,osm_id,osm_type,fid,admin_leve,name_2,name_en_2,population,hasc,lon,lat
1523,SydneyBuilding1523,NaN,public,NaN,NaN,NaN,725,Pittwater Road,NaN,NaN,...,718895616,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.287029,-33.751324
2795,SydneyBuilding2795,NaN,public,1,NaN,NaN,NaN,NaN,NaN,NaN,...,687897770,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,150.373474,-33.709229
25238,SydneyBuilding25238,NaN,public,3,NaN,NaN,NaN,NaN,NaN,NaN,...,562120201,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.000855,-33.812556
67877,SydneyBuilding67877,NaN,public,2,NaN,NaN,NaN,NaN,Warriewood,NaN,...,828439266,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.298622,-33.697167
68315,SydneyBuilding68315,NaN,public,7,NaN,NaN,NaN,Macquarie Street,NaN,NaN,...,16750157,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.213038,-33.867348
68316,SydneyBuilding68316,NaN,public,7,NaN,NaN,NaN,Macquarie Street,NaN,NaN,...,16750157,ways_poly,2495,11,Sydney,NaN,22109.0,NaN,151.213038,-33.867348
82915,SydneyBuilding82915,NaN,public,1,NaN,NaN,NaN,NaN,NaN,NaN,...,378237289,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.270001,-33.717503
84921,SydneyBuilding84921,NaN,public,2,NaN,NaN,NaN,NaN,NaN,NaN,...,271380482,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.225563,-33.873117
91315,SydneyBuilding91315,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,780167104,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.291338,-33.729416
100867,SydneyBuilding100867,NaN,public,1,NaN,NaN,NaN,NaN,NaN,NaN,...,838521406,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.300157,-33.694362
126492,SydneyBuilding126492,NaN,public,4,NaN,NaN,1,Prince Albert Road,NaN,NaN,...,16750415,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.213307,-33.869996
126493,SydneyBuilding126493,NaN,public,4,NaN,NaN,1,Prince Albert Road,NaN,NaN,...,16750415,ways_poly,2495,11,Sydney,NaN,22109.0,NaN,151.213307,-33.869996
129863,SydneyBuilding129863,NaN,public,1,NaN,NaN,NaN,NaN,NaN,NaN,...,827621553,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.300191,-33.697301
129864,SydneyBuilding129864,NaN,public,1,NaN,NaN,6,Jacksons Road,Warriewood,NaN,...,827621554,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.299667,-33.697175
130061,SydneyBuilding130061,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,399352578,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.264332,-33.718548
130769,SydneyBuilding130769,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,234341578,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.282119,-33.795656
130829,SydneyBuilding130829,NaN,public,2,NaN,NaN,725,Pittwater Road,NaN,NaN,...,718895617,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.286586,-33.751713
131256,SydneyBuilding131256,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,841676609,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.220144,-33.741357
131377,SydneyBuilding131377,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31228778,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.215792,-33.833292
131470,SydneyBuilding131470,NaN,public,3,NaN,NaN,NaN,NaN,NaN,NaN,...,473980567,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.234894,-33.756856
132724,SydneyBuilding132724,NaN,public,3,NaN,NaN,NaN,NaN,NaN,NaN,...,562120196,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.002218,-33.812619
133814,SydneyBuilding133814,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,841676610,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.219831,-33.741334
161122,SydneyBuilding161122,NaN,public,2,NaN,NaN,4-20,NaN,NaN,government,...,393286716,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.059788,-34.030549
163297,SydneyBuilding163297,NaN,public,2,NaN,NaN,30,Shoreline Drive,NaN,NaN,...,508150229,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.083474,-33.829091
201206,SydneyBuilding201206,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1031110715,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,150.751980,-33.708478
202774,SydneyBuilding202774,NaN,public,1,NaN,NaN,NaN,NaN,NaN,NaN,...,169219244,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.191351,-33.889004
206480,SydneyBuilding206480,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,756406630,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.206700,-33.899367
219321,SydneyBuilding219321,NaN,public,3,NaN,NaN,NaN,NaN,NaN,NaN,...,219238035,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.002701,-33.812883
229303,SydneyBuilding229303,NaN,public,NaN,NaN,NaN,7,NaN,NaN,NaN,...,1338566678,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.182983,-33.799238
231479,SydneyBuilding231479,NaN,public,NaN,NaN,NaN,86,Avoca Road,NaN,government,...,285367798,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,150.914920,-33.878721
233784,SydneyBuilding233784,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1127931545,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.207013,-33.899377
234173,SydneyBuilding234173,NaN,public,11,NaN,NaN,NaN,NaN,NaN,NaN,...,562120199,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.001586,-33.812253
234174,SydneyBuilding234174,NaN,public,2,NaN,NaN,4,George Street,NaN,NaN,...,562120200,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.001437,-33.812819
234189,SydneyBuilding234189,NaN,public,12,NaN,NaN,97-99,Goulburn Street,NaN,NaN,...,232516681,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.208259,-33.878542
237873,SydneyBuilding237873,NaN,public,2,NaN,NaN,77-79,Doncaster Avenue,NaN,NaN,...,682800158,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.225040,-33.909449
241386,SydneyBuilding241386,NaN,public,15,NaN,NaN,1,Charles Street,NaN,NaN,...,69343617,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.007980,-33.817332
241389,SydneyBuilding241389,NaN,public,5,NaN,NaN,160,Marsden st,NaN,NaN,...,151559644,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.002242,-33.811737
254767,SydneyBuilding254767,NaN,public,NaN,NaN,NaN,40,Kingsway,NaN,NaN,...,718895619,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.286215,-33.750324
257364,SydneyBuilding257364,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,223784846,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.285983,-33.797610
258375,SydneyBuilding258375,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,839852003,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.304095,-33.676209
262169,SydneyBuilding262169,NaN,public,NaN,NaN,NaN,1423,Botany Road,NaN,NaN,...,1258912387,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.197178,-33.945224
266661,SydneyBuilding266661,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,769620606,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.238560,-33.825075
271656,SydneyBuilding271656,NaN,public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1186469482,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.124303,-33.889025
272187,SydneyBuilding272187,NaN,public,NaN,NaN,NaN,65,Queen Street,NaN,NaN,...,183242184,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,150.817210,-34.062545
301501,SydneyBuilding301501,NaN,public,NaN,NaN,NaN,34,Blandford Street,Collaroy Plateau,NaN,...,360339174,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.291414,-33.729567
310318,SydneyBuilding310318,NaN,public,6,NaN,NaN,6,George Street,NaN,NaN,...,562120198,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.001953,-33.812552
310775,SydneyBuilding310775,NaN,public,4,NaN,NaN,22,George Street,Parramatta,NaN,...,562111453,ways_poly,578,7,Sydney,NaN,4473131.0,NaN,151.000672,-33.813316