In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('BeijingBuildings.csv',encoding='ISO-8859-1')

C:\Users\Apoorva\AppData\Local\Temp\ipykernel_680\1642353877.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('BeijingBuildings.csv',encoding='ISO-8859-1')

In [3]:
df

,name,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,end,altitudeMode,tessellate,extrude,visibility,drawOrder,icon,id,cp,childNum
0,NaN,NaN,house,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110108,"116.2202,40.0239",1
1,NaN,NaN,house,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110108,"116.2202,40.0239",1
2,NaN,NaN,house,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110108,"116.2202,40.0239",1
3,NaN,NaN,house,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110108,"116.2202,40.0239",1
4,NaN,NaN,house,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110108,"116.2202,40.0239",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120089,?????????,Fengtai Sports Center Stadium,stadium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110106,"116.2683,39.8309",1
120090,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110104,"116.3603,39.8852",1
120091,48??,NaN,yes,10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110104,"116.3603,39.8852",1
120092,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110102,"116.3631,39.9353",1
120093,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110104,"116.3603,39.8852",1

In [4]:
set(list(df['building']))

{'apartments',
 'barn',
 'boathouse',
 'bridge',
 'bungalow',
 'bunker',
 'carport',
 'chapel',
 'church',
 'civic',
 'college',
 'commercial',
 'company',
 'construction',
 'cowshed',
 'dam',
 'depot',
 'detached',
 'dormitory',
 'embassy',
 'farm',
 'farm_auxiliary',
 'fire_station',
 'garage',
 'garages',
 'gasometer',
 'gate',
 'ger',
 'government',
 'grandstand',
 'greenhouse',
 'gymnasium',
 'hangar',
 'hospital',
 'hotel',
 'hotel;yes',
 'house',
 'hut',
 'industrial',
 'kindergarten',
 'library',
 'military',
 'mosque',
 'museum',
 'no',
 'office',
 'outbuilding',
 'parking',
 'pavilion',
 'public',
 'railway',
 'railway_station',
 'religious',
 'research_institute',
 'residential',
 'restaurant',
 'retail',
 'roof',
 'ruins',
 'school',
 'semidetached_house',
 'service',
 'shed',
 'sheepfold',
 'shrine',
 'silo',
 'sports_centre',
 'stable',
 'stadium',
 'station',
 'statue',
 'storage_tank',
 'sty',
 'temple',
 'temporary',
 'terrace',
 'toilets',
 'toll_booth',
 'tower',
 'train_station',
 'transportation',
 'university',
 'wall',
 'warehouse',
 'washroom',
 'yes',
 'yes;house',
 'yes;school'}

In [5]:
df['name'] = df.index.map(lambda i: f'BeijingBuilding{i}')

In [6]:
df

,name,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,end,altitudeMode,tessellate,extrude,visibility,drawOrder,icon,id,cp,childNum
0,BeijingBuilding0,NaN,house,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110108,"116.2202,40.0239",1
1,BeijingBuilding1,NaN,house,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110108,"116.2202,40.0239",1
2,BeijingBuilding2,NaN,house,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110108,"116.2202,40.0239",1
3,BeijingBuilding3,NaN,house,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110108,"116.2202,40.0239",1
4,BeijingBuilding4,NaN,house,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110108,"116.2202,40.0239",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120089,BeijingBuilding120089,Fengtai Sports Center Stadium,stadium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110106,"116.2683,39.8309",1
120090,BeijingBuilding120090,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110104,"116.3603,39.8852",1
120091,BeijingBuilding120091,NaN,yes,10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110104,"116.3603,39.8852",1
120092,BeijingBuilding120092,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110102,"116.3631,39.9353",1
120093,BeijingBuilding120093,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110104,"116.3603,39.8852",1

In [7]:
house = ['yes', 'apartments', 'residential', 'house', 'dormitory', 'bungalow', 'semidetached_house']
school = ['school', 'university', 'kindergarten', 'college']
public_transport = ['train_station', 'transportation']
hospital = ['hospital']

In [8]:
toilet = ['toilets']
civic = ['civic']
public = ['public']
fire = ['fire_station']
sports = ['grandstand', 'pavilion', 'riding_hall', 'sports_hall', 'sports_centre', 'stadium']
govt = ['government']
supermarket = ['supermarket']

df_toilet = df[df['building'].isin(toilet)]
df_civic = df[df['building'].isin(civic)]
df_public = df[df['building'].isin(public)]
df_fire = df[df['building'].isin(fire)]
df_sports = df[df['building'].isin(sports)]
df_govt = df[df['building'].isin(govt)]
df_supermarket = df[df['building'].isin(supermarket)]

df_toilet.to_csv('Toilet.csv', index = False)
df_civic.to_csv('Civic.csv', index = False)
df_public.to_csv('Public.csv', index = False)
df_fire.to_csv('Fire.csv', index = False)
df_sports.to_csv('Sports.csv', index = False)
df_govt.to_csv('Government.csv', index = False)
df_supermarket.to_csv('Supermarket.csv', index = False)

In [10]:
df_building = df[df['building'].isin(house)]
df_school = df[df['building'].isin(school)]
df_pt = df[df['building'].isin(public_transport)]
df_hospital = df[df['building'].isin(hospital)]

In [11]:
df_building.to_csv('BeijingBuildingsFinal.csv', index = False)
df_school.to_csv('School.csv', index = False)
df_pt.to_csv('Transport.csv', index = False)
df_hospital.to_csv('Hospital.csv', index = False)

In [13]:
df_civic

,name,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,end,altitudeMode,tessellate,extrude,visibility,drawOrder,icon,id,cp,childNum
23870,BeijingBuilding23870,NaN,civic,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110108,"116.2202,40.0239",1
26541,BeijingBuilding26541,NaN,civic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110116,"116.6377,40.6219",1
34213,BeijingBuilding34213,NaN,civic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110105,"116.4977,39.949",2
47638,BeijingBuilding47638,NaN,civic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110105,"116.4977,39.949",2
47639,BeijingBuilding47639,NaN,civic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110105,"116.4977,39.949",2
47640,BeijingBuilding47640,NaN,civic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110105,"116.4977,39.949",2
65137,BeijingBuilding65137,NaN,civic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110105,"116.4977,39.949",2
65138,BeijingBuilding65138,NaN,civic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0,-1,NaN,NaN,110105,"116.4977,39.949",2