In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('LagosBuildings.csv')

C:\Users\Apoorva\AppData\Local\Temp\ipykernel_1268\3851142847.py:1: DtypeWarning: Columns (1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('LagosBuildings.csv')

In [3]:
df['building'].value_counts()

yes              44871
residential        206
construction       102
roof                15
dormitory            5
house                5
grandstand           5
train_station        4
stadium              4
office               3
commercial           3
civic                2
hospital             2
school               2
parking              1
university           1
industrial           1
cathedral            1
mosque               1
sport                1
ruins                1
pharmacy             1
Name: building, dtype: int64

In [4]:
df

,name,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,ADM1_PCODE,ADM0_EN,ADM0_PCODE,date,validOn,validTo,SD_EN,SD_PCODE,lon,lat
0,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.392981,6.494429
1,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.395323,6.463854
2,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.394525,6.463953
3,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.394541,6.463525
4,Rele Art Gallery,NaN,yes,NaN,NaN,NaN,5.0,Military Street,Lagos,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.403980,6.444999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45232,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.387994,6.504494
45233,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.387139,6.506201
45234,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.390585,6.506542
45235,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.389671,6.506512
45236,Mobolaji Johnson Station,NaN,train_station,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.373856,6.501752

In [5]:
df['name'] = df.index.map(lambda i: f'LagosBuilding{i}')

In [6]:
df

,name,name_en,building,building_l,building_m,addr_full,addr_house,addr_stree,addr_city,office,...,ADM1_PCODE,ADM0_EN,ADM0_PCODE,date,validOn,validTo,SD_EN,SD_PCODE,lon,lat
0,LagosBuilding0,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.392981,6.494429
1,LagosBuilding1,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.395323,6.463854
2,LagosBuilding2,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.394525,6.463953
3,LagosBuilding3,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.394541,6.463525
4,LagosBuilding4,NaN,yes,NaN,NaN,NaN,5.0,Military Street,Lagos,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.403980,6.444999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45232,LagosBuilding45232,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.387994,6.504494
45233,LagosBuilding45233,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.387139,6.506201
45234,LagosBuilding45234,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.390585,6.506542
45235,LagosBuilding45235,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.389671,6.506512
45236,LagosBuilding45236,NaN,train_station,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NG025,Nigeria,NG,2016/11/29,2019/04/17,NaN,Lagos Central,NG02502,3.373856,6.501752

In [7]:
house = ['yes', 'apartments', 'residential', 'house', 'dormitory', 'bungalow', 'semidetached_house']
school = ['school', 'university', 'kindergarten', 'college']
public_transport = ['train_station', 'transportation']
hospital = ['hospital']

In [8]:
toilet = ['toilets']
civic = ['civic']
public = ['public']
fire = ['fire_station']
sports = ['grandstand', 'pavilion', 'riding_hall', 'sports_hall', 'sports_centre', 'stadium']
govt = ['government']
supermarket = ['supermarket']

df_toilet = df[df['building'].isin(toilet)]
df_civic = df[df['building'].isin(civic)]
df_public = df[df['building'].isin(public)]
df_fire = df[df['building'].isin(fire)]
df_sports = df[df['building'].isin(sports)]
df_govt = df[df['building'].isin(govt)]
df_supermarket = df[df['building'].isin(supermarket)]

df_toilet.to_csv('Toilet.csv', index = False)
df_civic.to_csv('Civic.csv', index = False)
df_public.to_csv('Public.csv', index = False)
df_fire.to_csv('Fire.csv', index = False)
df_sports.to_csv('Sports.csv', index = False)
df_govt.to_csv('Government.csv', index = False)
df_supermarket.to_csv('Supermarket.csv', index = False)

In [9]:
df_building = df[df['building'].isin(house)]
df_school = df[df['building'].isin(school)]
df_pt = df[df['building'].isin(public_transport)]
df_hospital = df[df['building'].isin(hospital)]

In [10]:
df_building.to_csv('LagosBuildingsFinal.csv', index = False)
df_school.to_csv('School.csv', index = False)
df_pt.to_csv('Transport.csv', index = False)
df_hospital.to_csv('Hospital.csv', index = False)

In [11]:
df_supermarket

Empty DataFrame
Columns: [name, name_en, building, building_l, building_m, addr_full, addr_house, addr_stree, addr_city, office, source, osm_id, osm_type, Shape_Leng, Shape_Area, ADM2_EN, ADM2_PCODE, ADM2_REF, ADM2ALT1EN, ADM2ALT2EN, ADM1_EN, ADM1_PCODE, ADM0_EN, ADM0_PCODE, date, validOn, validTo, SD_EN, SD_PCODE, lon, lat]
Index: []

[0 rows x 31 columns]